<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Сити - ферма Фиров Е.В рабочеие место №3</title>
    </head>
    <body style="background-color: #03e96b">
        <h1 align="center">Сити - ферма Фиров Е.В рабочеие место №3</h1>
        <hr>
        <pre>
            <p align="center">Рукола</p>
        <table border="1">
        <tr>
            <td></td>
            <th colspan="7">1 Неделя</th>
        </tr>
        <tr>
            <th>Время света</th>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>C 6 - 12 и 14 - 22</td>
            <td>C 6 - 12 и 14 - 22</td>
            <td>C 6 - 12 и 14 - 22</td>
            <td>C 6 - 12 и 14 - 22</td>
        </tr> 
        <tr>
            <th>Время полива</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>День недели</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
          
    </body>
</html>
