<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Аудитория 5</title>
    </head>
    <body style="background-color: #03e96b">
        <h1 align="center">БОРДЕЛЬ</h1>
        <h1 align="center">Евгеха - Зая - Давалка</h1>
        <img src="https://avatars.mds.yandex.net/get-pdb/2501802/f30394d5-431e-455f-af03-5d4bff7845f3/s1200?webp=false" alt="природа">
        <p>ПРИВЕТ МИР</p>
        <hr>
        <pre>
Шалтай-Болтай
Упал с трубы.
        </pre>
        <ol type="I" start="2">
            <li>Приберать мусор</li>
            <li>Не бить животных</li>
            <li>Спасти Шалтая-Болтая</li>
        </ol>
        <p><a href="https://vk.com/xyli_eballo_zadral" target="_blank">Лапочка</a></p>
        <p><a href="https://vk.com/zloy.maximka" target="_blank">Макс Давалка</a></p>
        <p><a href="https://vk.com/vad71003" target="_blank">Великий</a></p>
        <hr>
        <table border="1" align="center" width="50%" cellspacing="0">
            <tr>
                <th>Илья:</th>
                <th>Игроман</th>
                <th>Курит или Парит</th>
                <th>Колосальный Dick</th>
                <th>Дрифт Инсайд SS ранга</th>
                <th>Hay Bro Nice MOM</th>
            </tr>
            <tr>
                <th>Максим:</th>
                <th>Фанатик Рока</th>
                <th>Член команды</th>
                <th>Просто Чел</th>
                <th>Дев Инсекс SSSR ранга</th>
                <td>Dont Sex, i'dont have big Dick </td>
            </tr>
        </table>
    </body>
</html>





<script>
    let ctx = document.querySelector("#myChart").getContext("2d");
    let myChart =new Chart(ctx, {
        type: "line",
        data: {
            labels: [1,2,3,4,5],
            datasets: [{
                label: "Sutedents",
                data: [50,40,25,30,15],
                backgroundColor: ["white"],
                borderColor: [
                    "#80d9ff",
                    "#82b1ff",
                    "#b388ff",
                    "#80d8ff",
                    "#ea80fc"
                ],
                borderWidth: 4
            }]
        },
        options: {}
    })
</script>