<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>СИТИ ФЕРМЕРСТВО</title>
        <script>
            // function UpdateTemperature() {
            //     var request = new XMLHttpRequest();
            //     var text = document.querySelector('#temperatureValue').nodeValue
            //     request.open('POST', '/gettemperature')
            // }
            function UpdatePage() {
                // var request = new XMLHttpRequest();
                // var text = document.querySelector('#temperatureValue').nodeValue
                // request.open('GET', 'index')
                window.location.reload();
            }
            setTimeout(UpdatePage, 3000);
        </script>
    </head>
    <body>
        
        <table style="font-size: 200%" border="0" bgcolor= "#03e96b" align="center" width="100%" cellspacing="0">
            <tr>                
                <td align="center" colspan="3"><h1>СИТИ ФЕРМЕРСТВО</h1>  </td>              
            </tr>
            <tr>
                <td align="center" colspan="3"><h2>Фиров Евгений Владимирович</h2></td>                  
            </tr>           
        </table>

        <hr>        
            
        <table style="font-size: 300%" border="1" align="center" width="70%" cellspacing="40" >
            <tr>
                <td align="left" >Температура:</td> <td align="left" id="temperatureValue">{{temperatureValue}}</td>
            </tr>
            <tr>
                <td align="left">Влажность:</td> <td align="left" id="humidityValue">{{humidityValue}}</td>
            </tr>
            <tr>
                <td align="left">CO2:</td> <td align="left" id="co2Value">{{co2Value}}</td>
            </tr>
        </table>

        <!-- <div class="header-info-rightbox">
            <canvas id="myChart" width="600px" height="300px"></canvas>
        </div> -->
        
        <canvas id="myChart" width="10px" height="9px"></canvas>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: ["1", "2", "3", "4", "5"],
                    datasets: [{
                    label: "My First dataset",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132',
                    data: [50, 40, 25, 30, 15],
                }]
            },

            options: {}
        });

        </script>
    </body>
</html>