<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>СИТИ ФЕРМЕРСТВО</title>
        <!-- <script>
            function UpdateTemperature() {
                var request = new XMLHttpRequest();
                var text = document.querySelector
            }
        </script> -->
    </head>
    <body>
        
        <table border="0" bgcolor= "#03e96b" align="center" width="100%" cellspacing="0">
            <tr>                
                <td align="center" colspan="3"><h1>СИТИ ФЕРМЕРСТВО</h1>  </td>              
            </tr>
            <tr>
                <td align="center" colspan="3"><h3>Фиров Евгений Владимирович</h3></td>                  
            </tr>           
        </table>

        <hr>        
            
        <table border="1" align="left" width="50%" cellspacing="30">
            <tr>
                <td align="left" c >температура:</td> <td align="left" id="temperatureValue">{{temperatureValue}}</td>
            </tr>
            <tr>
                <td align="left">влажность:</td> <td align="left">100500</td>
            </tr>
        </table>

    </body>
</html>